@*
 * Copyright 2013 LBi Netherlands B.V.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License. 
 *@
@using LBi.LostDoc.Repository
@using LBi.LostDoc.Repository.Web.Areas.Administration
@using LBi.LostDoc.Repository.Web.Extensibility
@model LBi.LostDoc.Repository.Web.Areas.Administration.Models.ModelBase

@functions {
    private string GetButtonClass(Navigation navigation)
    {
        if (navigation.IsActive)
            return "button active";

        return "button";
    }
}

@helper RenderNavigation(Navigation[] navigation)
{
    <ul>
        @foreach (var nav in navigation)
        {
            @RenderNavigation(nav)
        }
    </ul>
}

@helper RenderNavigation(Navigation navigation)
{
    <li>
        <a class="@this.GetButtonClass(navigation)" href="@navigation.Target" title="@navigation.Text">@navigation.Text</a>
        @if (navigation.Children.Length > 0)
        {
            @RenderNavigation(navigation.Children)
        }
    </li>
}

<!DOCTYPE html>

<html>
<head>
    <title>@Model.PageTitle</title>
    <script>
        // clear any less cached items from localStorage (XXX doesn't really make
        // sense to me, but the less compiler (a testing tool!) caches compiled
        // results in localStorage)
        for (var key in (localStorage || {})) {
            if (/^https?:\/\/.*\.less(:timestamp)?$/.test(key)) {
                delete localStorage[key];
            }
        }
    </script>
    <link rel="stylesheet/less" href="~/Areas/Administration/Static/lostdoc.admin.less" />
    <script src="~/Areas/Administration/Static/Lib/less-1.3.0.min.js"></script>
</head>
<body>
    <div id="wrapper">
        <nav role="navigation">
            <header role="banner">
                <div class="logo">
                    <!-- TODO fix this logo/country thing -->
                    <a href="/" title="LBi" rel="home">
                        <img src="~/static/img/logo_LBi.gif" alt="LBi"></a>
                    <div id="country">
                        LBi Netherlands
                    </div>
                </div>
            </header>
            <!-- /header -->
            <span class="handle"></span>

            @RenderNavigation(Model.Navigation)
        </nav>
        <!-- / Main navigation -->

        <section role="main">
            @this.RenderBody()
        </section>
        <!-- / content section -->
    </div>

    <section>
        <ul>
            @foreach (var notification in Model.Notifications)
            {
                <li role="alert" id="alert-@notification.Id.ToBase36String()">
                    <strong>@notification.Title <span>@((DateTime.UtcNow - notification.Created).ToHumanReadableString()) ago</span></strong>

                    <p>@notification.Message</p>

                    @foreach (var action in notification.Actions)
                    {
                        <a role="button" href="@action.Target" class="action">@action.Text</a>
                    }
                </li>
            }

        </ul>
    </section>

    <!-- Generic libraries -->
@*    <script src="~/static/js/lib/zepto.js"></script>
    <script src="~/static/js/lib/zepto.data.js"></script>*@

@*    <!-- Init -->
    <script src="~/static/js/lostdoc.js"></script>
    <script src="~/static/js/lib/codemirror.js"></script>
    <script src="~/static/js/lib/simple-hint.js"></script>
    <script src="~/static/js/lib/closetag.js"></script>
    <script src="~/static/js/lib/xml-hint.js"></script>
    <script src="~/static/js/lib/xml.js"></script>*@
</body>
</html>
